a:link
{
	color: salmon;
	text-decoration: none;
}
a:visited
{
	color: aqua;
	text-decoration: underline;
}
a:hover
{
	color:bisque;
	text-decoration: underline;
}
a:active
{
	color: darkcyan;
	text-decoration: none;
}